/* Vídeos */
#videos {
    /*position: center;*/
    height: 350px;
    width: 700px;
    /*overflow: hidden;*/
}

/*
#videos iframe,
#videos object,
#videos embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}*/


/*MESSAGE*/
.dhtmlx_message_area{
  position:fixed;
  right:5px;
  width:250px;
  z-index:1000;
}

.dhtmlx-info{
  min-width: 120px;
  min-height: 20px;
  padding:4px 4px 4px 20px;
  font-family:Tahoma;
  z-index: 10000;

  margin:5px;
  margin-bottom:10px;

  -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.dhtmlx-info.hidden{
  height:0px;
  min-height: 0px;
  padding-top:0px;
  padding-bottom:0px;
  border-width:0px;
  margin-top:0px;
  margin-bottom:0px;
  overflow:hidden;
}

.dhtmlx_modal_box{
  overflow:hidden;
  display: inline-block;
  min-width: 300px;
  width: 300px;
  text-align: center;
  position:fixed;

  background-color: #fff;
  background:-webkit-linear-gradient(top, #ffffff 1%, #d0d0d0 99%);
  background:-moz-linear-gradient(top, #ffffff 1%, #d0d0d0 99%);
  box-shadow: 0px 0px 14px #888;

  font-family: Tahoma;

  z-index:20000;

  border-radius:6px;
  border: 1px solid #ffffff;
}

.dhtmlx_popup_title{
  border-top-left-radius:5px;
  border-top-right-radius:5px;

  border-width:0px;

  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAoCAMAAAAIaGBFAAAAhFBMVEVwcHBubm5sbGxqampoaGhmZmZlZWVjY2NhYWFfX19dXV1bW1taWlpYWFhWVlZUVFRSUlJRUVFPT09NTU1LS0tJSUlHR0dGRkZERERCQkJAQEA+Pj49PT09PT0+Pj5AQEBBQUFDQ0NERERGRkZHR0dJSUlKSkpMTExMTEw5OTk5OTk5OTkny8YEAAAAQklEQVQImQXBCRJCAAAAwKVSQqdyjSPXNP7/QLsIhA6OTiJnF7GrRCpzc/fw9PKW+/gqlCq1RqvTG/yMJrPF6m/bAVEhAxxnHG0oAAAAAElFTkSuQmCC);
  background-image: -webkit-linear-gradient(top, #707070 1%, #3d3d3d 70%, #4c4c4c 97%, #393939 97%);
  background-image: -moz-linear-gradient(top, #707070 1%, #3d3d3d 70%, #4c4c4c 97%, #393939 97%);
}

.dhtmlx-info, .dhtmlx_popup_button, .dhtmlx_button{
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select:-moz-none;

  cursor:pointer;
}

.dhtmlx_popup_text{
  overflow:hidden;
}

.dhtmlx_popup_controls{
  border-radius:6px;
  padding:5px;
}

.dhtmlx_popup_button, .dhtmlx_button{
  height: 30px;
  line-height:30px;

  display: inline-block;
  margin: 0 5px;
  border-radius: 6px;

  color:#FFF;
}
.dhtmlx_popup_button{
  min-width: 120px;
}

div.dhx_modal_cover {
  background-color:#000;
  cursor:default;

  filter:alpha(opacity = 20);
  opacity: 0.2;

  position: fixed;
  z-index:19999;
  left: 0px;    top: 0px;
  width: 100%;  height: 100%;

  border: none;
  zoom: 1;
}

.dhtmlx-info img, .dhtmlx_modal_box img{
  float:left;
  margin-right:20px;
}
.dhtmlx-info img{
  margin-left:-10px;
}

.dhtmlx-alert-error .dhtmlx_popup_title, .dhtmlx-confirm-error .dhtmlx_popup_title{
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAsCAIAAAArRUU2AAAATklEQVR4nIWLuw2AMBBDjVuQiBT2oWbRDATrnB0KQOJoqPzRe3BrHI6dcBASYREKovtK6/6DsDOX+stN+3H1YX9ciRgnYq5EWYhS2dftBIuLT4JyIrPCAAAAAElFTkSuQmCC);
}
.dhtmlx-alert-error, .dhtmlx-confirm-error {
  border: 1px solid #ff0000;
}

/*Skin section*/
.dhtmlx_button, .dhtmlx_popup_button{
  box-shadow: 0px 0px 4px #888;
  border:1px solid #838383;
}
.dhtmlx_button input, .dhtmlx_popup_button div{
  border:1px solid #FFF;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAMAAADaS4T1AAAAYFBMVEVwcHBtbW1ra2toaGhmZmZjY2NhYWFeXl5cXFxaWlpXV1dVVVVSUlJQUFBNTU1LS0tJSUlGRkZERERBQUE/Pz88PDw9PT0+Pj5AQEBCQkJDQ0NFRUVHR0dISEhKSkpMTEzqthaMAAAAMklEQVQImQXBhQ2AMAAAsOIMlwWH/8+kRSKVyRVKlVrQaHV6g9FktlhFm93hdLk9Xt8PIfgBvdUqyskAAAAASUVORK5CYII=);
  background-image: -webkit-linear-gradient(top, #707070 1%, #3d3d3d 70%, #4c4c4c 99%);
  background-image: -moz-linear-gradient(top, #707070 1%, #3d3d3d 70%, #4c4c4c 99%);

  border-radius:6px;
  font-size:15px;

  -moz-box-sizing:content-box;
  box-sizing:content-box;

  color:#fff; padding:0px; margin:0px;
  vertical-align:top;

  height:28px;
  line-height:28px;
}

.dhtmlx_button input:focus, .dhtmlx_button input:active, .dhtmlx_popup_button div:active, .dhtmlx_popup_button div:focus{

  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAMAAADaS4T1AAAAXVBMVEVwcHBubm5tbW1sbGxra2tpaWloaGhnZ2dmZmZlZWVjY2NiYmJhYWFgYGBfX19dXV1cXFxbW1taWlpZWVlXV1dWVlZVVVVUVFRTU1NRUVFQUFBPT09OTk5NTU1LS0tT9SY0AAAAMUlEQVQImQXBhQGAMAAAIGxnx2z9/00BiVQmVyhVakGj1ekNRpPZYhVtdofT5fZ4fT8hpwG05JjexgAAAABJRU5ErkJggg==);
  background-image: -webkit-linear-gradient(top, #707070 1%, #4c4c4c 99%);
  background-image: -moz-linear-gradient(top, #707070 1%, #4c4c4c 99%);
}
.dhtmlx_popup_title{
  color:#fff;
  text-shadow: 1px 1px #000;
  height:40px; line-height:40px;
  font-size:20px;
}
.dhtmlx_popup_text{
  margin:15px 15px 5px 15px;
  font-size:14px;
  color:#000;
  min-height:30px;
  border-radius:6px;
}


.dhtmlx-info, .dhtmlx-error{
  font-size:14px;
  color:#fff;
  box-shadow: 0 4px 4px -4px #000;

  border-radius:5px;

  background-color:#000;
  background-color:rgba(0,0,0,0.8);
}

.dhtmlx-error{
  color:#F00;
}

/*SLICK*/
@font-face {
  font-family: 'Pacifico';
  src: url('pacifico.eot');
  src: url('pacifico.eot?#iefix') format('embedded-opentype'),
       url('pacifico.woff') format('woff'),
       url('pacifico.ttf') format('truetype'),
       url('pacifico.svg#Pacifico') format('svg');
}

#disqus_thread{margin-top:20px;}
*{-moz-box-sizing:border-box;box-sizing:border-box;}
.blue{background:#3498db;color:#fff;}
.blue h3{background:#fff;color:#3498db;font-size:36px;line-height:100px;margin:10px;padding:2%;position:relative;text-align:center;}
.button{background:#3498db;color:#fff;display:block;font-size:16px;margin:20px auto;padding:20px;text-align:center;text-decoration:none;width:48%;}
.buttons{padding:0 20px 20px; margin-bottom: 10px;}
.buttons .button{background:#FFF;color:#3498db;float:left;margin:5px;}
.center .slick-center h3{-moz-transform:scale(1.08);-ms-transform:scale(1.08);-o-transform:scale(1.08);-webkit-transform:scale(1.08);color:#e67e22;opacity:1;transform:scale(1.08);}
.center h3{opacity:0.8;transition:all 300ms ease;}
.content{margin:auto;padding:20px;width:600px;}
.content:after,.buttons::after{clear:both;content:"";display:table;}
.destroy{font-weight:400;margin-top:40px;}
.features{display:block;list-style-type:none;margin-top:30px;padding:0;text-align:center;}
.features li{margin:20px 0;}
.filter .button{background:#FFF;color:#3498db; margin-bottom: 40px;}
.fixed-header{background:#FFF;box-shadow:2px 0 5px rgba(0,0,0,0.5);display:none;padding:10px;position:fixed;top:0;width:100%;z-index:10000;}
.fixed-header .header-content{margin:auto;width:600px;}
.fixed-header .subheading{display:none;}
.fixed-header h1.title{float:left;font-size:24px;margin:0;}
.fixed-header ul.nav{float:right;margin:0;padding:5px;}
.fixed-header ul.nav li{margin:0 0 0 10px;}
.header{padding:20px 0;}
.margin-40{margin-bottom:40px;}
.more,.button.first{margin-top:40px;}
.red{background:#e74c3c;color:#fff;}
.slick-slide .image{padding:10px;}
.slick-slide img{border:5px solid #FFF;display:block;width:100%;}
.slick-slide img.slick-loading{border:0 }
.slick-slider{margin:30px auto 50px;}
.subheading{color:#555;font-size:12px;font-style:italic;font-weight:400;margin:10px auto;text-align:center;}
.white{background:#fff;color:#3498db;}
.white pre,.white hr{background:#3498db;}
a{color:#3498db;}
body,html{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;background:#fff;font-family:'Lucida Grande', sans-serif;height:100%;line-height:1;margin:0;padding:0;text-rendering:optimizeLegibility;width:100%;}
code{color:#000; overflow-x: scroll;}
h1{color:#3498db;font-family:Pacifico;font-size:72px;font-weight:400;line-height:1.2;margin:0 auto 10px;text-align:center;}
h1.title{font-size:96px;}
h2{font-family:Pacifico;font-size:36px;margin:20px auto;text-align:center;}
h4{font-family:Pacifico;font-size:28px;margin:20px auto;text-align:center;}
hr{background:#fff;border:0;height:1px;margin:40px 0;}
p{font-size:18px;font-weight:700;line-height:1.5;margin-bottom:40px;text-align:center;}
p.guff{font-size:16px;}
pre{background:#fff;margin:0 10px 20px;padding:10px;}
section{width:100%;}
table{border-collapse:collapse;border-spacing:0;margin:40px auto;text-align:left;width:100%; table-layout: fixed; font-size: 14px; line-height: 1.4;}
tbody{background:#fff;border-color:#fff;}
td{background:#3498db;border:1px solid #fff;color:#fff;padding:10px;width:33%; vertical-align: top;}
th{border-left:1px solid #3498db;padding:10px;}
td:first-child { font-weight: bold;}
th.last{width: 230px;}
th.type {width: 80px;}
th.default { width: 100px; }
th:first-child{border-left:0;}
thead{background:#fff;border-color:#3498db;color:#3498db;}
tr{background:#fff;border-right:1px solid #fff;}
ul.nav{margin-bottom:0;padding-left:0;text-align:center;}
ul.nav li{display:inline-block;list-style-type:none;margin:0 20px;}
ul.nav li a{font-size:12px;text-decoration:none;}
@media (max-width: 420px) {
ul.nav li a{display:block;font-size:10px;}
}
@media (max-width: 768px) {
.blue h3{font-size:24px;}
.button{margin:0 auto 20px;width:auto;}
.button.first{margin-top:40px;}
.buttons{padding:0 0 20px;}
.buttons .button{float:left;font-size:12px;margin:1%;width:48%;}
.center{margin-left:-40px;margin-right:-40px;}
.center .slick-center h3{-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);-webkit-transform:scale(1);color:#e67e22;opacity:1;transform:scale(1);}
.center h3{-moz-transform:scale(0.95);-ms-transform:scale(0.95);-o-transform:scale(0.95);-webkit-transform:scale(0.95);opacity:0.8;transform:scale(0.95);transition:all 300ms ease;}
.content{margin:auto;padding:20px 40px;width:auto;}
.fixed-header .header-content{width:auto;}
pre{font-size:12px; overflow-x: scroll;}
table{font-size:14px;line-height:18px;margin:40px auto 20px; display: block; float: left;}
tr { width: 100%; border-right: none; border-bottom: 1px solid #fff; margin: 0px 0px 20px; padding: 0px 0px 20px; background: transparent; float: left; }
thead { display: none; }
td { border: 0; padding: 10px 0px;}
td,tbody { display: block; width: 100% !important;}
table.settings td:nth-of-type(1), table.methods td:nth-of-type(1){font-weight: bold; font-size: 16px; line-height: 18px;}
table.settings td:nth-of-type(2):before{content: 'Type: '; font-weight: bold;}
table.settings td:nth-of-type(3):before{content: 'Default: '; font-weight: bold;}
table.methods td:nth-of-type(2):before{content: 'Arguments: '; font-weight: bold;}
}

/* Vídeos */
.YTvideos {
    position: center;
    height: 350px;
    overflow: hidden;
}

.YTvideos iframe,
.YTvideos object,
.YTvideos embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
